* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    line-height: 1.4;
    border: 3px solid darkgrey;
}

a {
    color: blue;
    text-decoration: underline;
}

.credit {
    text-align: center;
    background: lightgrey;
    color: black;
    width: 100%;
    height: 10%;
}

.accountBalanceClassCredit {
  transition-duration: 0.4s;
  background-color: purple;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border: 3px solid darkgrey;
}

.displayCreditClass {
  transition-duration: 0.4s;
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border: 3px solid darkgrey;
}

.addCreditClass {
  transition-duration: 0.4s;
  background-color: orange;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border: 3px solid darkgrey;
}

.debit {
    text-align: center;
    background: lightgrey;
    color: black;
    width: 100%;
    height: 10%;
}

.accountBalanceClassDebit {
  transition-duration: 0.4s;
  background-color: purple;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border: 3px solid darkgrey;
}

.displayDebitClass {
  transition-duration: 0.4s;
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border: 3px solid darkgrey;
}

.addDebitClass {
  transition-duration: 0.4s;
  background-color: orange;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border: 3px solid darkgrey;
}

.loginClass {
    text-align: center;
    background: lightgrey;
    color: black;
    width: 100%;
    height: 10%;
}

.loginButton {
    transition-duration: 0.4s;
    background-color: lightgreen;
    color: red;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: 3px solid darkgrey;
}

.userProfileClass {
    text-align: center;
    background: lightgrey;
    color: black;
    width: 100%;
    height: 10%;
}

.App {
    text-align: center;
    background: lightgrey;
    color: black;
    width: 100%;
    height: 10%;
}

